div {
  display: inline-block;
  width: 40%;
}

p {
  font-size: 2em;
}

img {
  float: left;
}

.cat {
  background-color: aquamarine;
  float: left;
}

.dog {
  background-color: coral;
  float: right;
}

footer {
  text-align: center;
  background-color: blueviolet;
  clear: both;
}
