div {
  position: relative;
  display: inline-block;
  background-color: blueviolet;
}

.one {
  width: 25%;
  position: absolute;
}

.two {
  position: absolute;
  left: 27.25%;
  width: 25%;
}

.three {
  position: absolute;
  left: 53%;
  width: 40%;
}
